* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v134_1037 {
  width: 405px;
  height: 844px;
  background: url("../images/v134_1037.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_1038 {
  width: 405px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v134_1039 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v134_550 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v134_551 {
  width: 375px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_552 {
  width: 24px;
  height: 11px;
  background: url("../images/v134_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 336px;
  overflow: hidden;
}
.v134_553 {
  width: 22px;
  height: 11px;
  background: url("../images/v134_553.png");
  opacity: 0.3499999940395355;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(51,51,51,1);
}
.v134_554 {
  width: 1px;
  height: 4px;
  background: rgba(51,51,51,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 23px;
}
.v134_555 {
  width: 18px;
  height: 7px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v134_565 {
  width: 54px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v134_566 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v134_567 {
  width: 54px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v134_568 {
  width: 54px;
  height: 21px;
  background: rgba(76,217,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v134_569 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v134_570 {
  width: 54px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v134_571 {
  width: 54px;
  height: 21px;
  background: rgba(0,122,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v134_572 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v134_573 {
  width: 54px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v134_574 {
  width: 54px;
  height: 21px;
  background: rgba(255,59,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v134_575 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v134_576 {
  width: 247px;
  height: 328px;
  background: url("../images/v134_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 64px;
  overflow: hidden;
}
.v134_577 {
  width: 224px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 220px;
  left: 11px;
  font-family: Brandon Grotesque;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v134_578 {
  width: 247px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 268px;
  left: 0px;
  font-family: Brandon Grotesque;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v134_579 {
  width: 164px;
  height: 164px;
  background: url("../images/v134_579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
  overflow: hidden;
}
.v134_580 {
  width: 164px;
  height: 164px;
  background: rgba(224,255,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(76,217,100,1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v134_581 {
  width: 100px;
  height: 100px;
  background: url("../images/v134_581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 32px;
  overflow: hidden;
}
.v134_582 {
  width: 100px;
  height: 100px;
  background: rgba(76,217,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v134_583 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 29px;
  overflow: hidden;
}
.v134_584 {
  width: 37px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
}
.v134_585 {
  width: 133px;
  height: 56px;
  background: rgba(255,164,81,1);
  padding: 16px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 121px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v134_586 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Brandon Grotesque;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v134_587 {
  width: 181px;
  height: 56px;
  background: rgba(255,164,81,1);
  padding: 16px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 97px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v134_588 {
  width: 117px;
  color: rgba(255,164,81,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Brandon Grotesque;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
